/* Recordatorio para la paleta mono gris
#464544
#646463
#838281
#a2a1a0
#c0c0bf
*/

/* Fuentes importadas: Unbounded, YsabeauSC */
/* font-family: 'Unbounded', cursive; */
/* font-family: 'Ysabeau SC', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;500&family=Ysabeau+SC:wght@400;700&display=swap');


/* Me parecio que para entenderlo lo mas facil posible, use line breaks para marcar separaciones en el html visualmente acá */

/* -----GENERALIDADES----- */
/* Esta primera sección es para generalidades, para facilitarme la vida */

* {
    /* Margin:0;
    padding:0; */
    font-family: 'Ysabeau SC', sans-serif;
}
/* h2{
    font-size: 50px;
} */
/* div{
    padding: 50px 5vw 50px 5vw;
} */

/* -----HEADER----- */

/* header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}
header nav{
    background-color: #a2a1a0;
    height: 100px;
}
.logo{
    position: absolute;
    top: 15px;
    left: 25px;
    text-decoration: none;
    color: black;
    font-family: 'Unbounded', cursive;
    font-size: 50px;
    font-weight: 700;
}
header nav ul{
    display: block;
    position: absolute;
    top: 37px;
    right: 1vw;
    list-style: none;
}
header nav ul li{
    display: inline;
    margin: 0 10px 0 10px;
}
header nav ul li a{
    font-family: 'Unbounded', cursive;
    font-weight: 200;
    font-size: 15px;
    text-decoration: none;
    color: black;
} */

/* -----HERO----- */

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/herosmarthome.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 25vh 5vw 35vh 5vw;
    text-align: center;
    color: whitesmoke;
}
.hero h2{
    margin: 100px 0 100px 0;
    font-size: 45px;
}
.hero p{
    margin: 100px 0 100px 0;
    font-size: 25px;
}
@media screen and (max-width: 1365px) {
    .hero h2{
        font-size: 40px;
    }
    .hero p {
        font-size: 20px;
    }
}

/* -----DIV1----- */
/* Eventualmente le voy a poner otra clase que refleje mejor el contenido, una vez tenga contenido */

.div1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* height: 105VH; */
    padding: 15vh 5vw 15vh 5vw;
    /* margin: 25vh 10vw 30vh 10vw; */
    background-color: #c0c0bf;
    text-align: center;
}
.div1 div h2{
    font-size: 40px;
}
.div1 div p{
    width: 45vw;
    font-size: 25px;
}
.div1 img{
    height: 400px;
    align-self: center;
}
@media screen and (max-width: 1365px) {
    .div1{
        flex-direction: column;
    }
    .div1 div h2{
        font-size: 35px;
        padding: 25px 0 25px 0;
    }
    .div1 div p{
        width: auto;
        font-size: 20px;
        padding: 25px 0 25px 0;
    }
    .div1 img{
        height: auto;
    }
}

/* -----VALORES----- */

.valores{
    background-color: #464544;
    color: whitesmoke;
    padding: 15vh 5vw 15vh 5vw;
}   
.valores h2{
    text-align: center;
    padding: 5vh 0 5vh 0;
    font-size: 40px;
}
.valores p{
    font-size: 20px;
    padding: 5vh 0 5vh 0;
    text-align: center;
    font-size: 25px;
}

@media screen and (max-width: 1365px) {
    .valores h2{
        font-size: 35px;
    }
    .valores p {
        font-size: 20px;
    }
}

/* -----NEWSLETTER----- */

.newsletter {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px 20px;
    background-color: #c0c0bf;
    padding: 15vh 5vw 15vh 5vw;
}
.newsletter img {
    grid-row: 1 / span 5;
    max-height: 400px;
}
.newsletter h2 {
    grid-column: 2 / span 3;
    text-align: center;
    font-size: 40px;
}
.newsletter hr{
    grid-column: 2 / span 3;
}
.newsletter p {
    grid-column: 2 / span 3;
    text-align: center;
    font-size: 25px;
}
.newsletter input {
    height: 30px;
}
.newsletter button {
    grid-column: 3;
    height: 30px;
}
@media screen and (max-width: 1365px) {
    /* Pasa a flex porque ordenarlo vertical en grids resultó ser muy engorroso */
    .newsletter {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
    }
    .newsletter img {
        align-self: center;
        width: 100%;
        max-width: 700px;
        max-height: 700px;
    }
    .newsletter input {
        margin: 1vh 0 1vh 0;
        width: 90vw;
        align-self: center;
        max-width: 700px
    };
    .newsletter button {
        width: 50vw;
        align-self: center;
        max-width: 250px;
    }
    .newsletter h2 {
        font-size: 35px;
    }
    .newsletter p {
        font-size: 20px;
        width: 90vw;
    }
}

/* -----FOOTER----- */
/* Ojala todo fuera tan simple como el footer */

footer div{
    background-color: #a2a1a0;
    height: 100px;
    width: 100%;
    padding: 0 0 0 0;
    position: absolute;
}
footer div ul{
    display: flex;
    padding: 25px 0 0 0;
    justify-content: center;
}
footer div ul li{
    display: inline;
}
footer div ul li img{
    height: 50px;
    width: 50px;
    margin: 0 10px 0 10px;
}
@media screen and (max-width: 1365px) {
    footer div ul li img{
        height: 35px;
        width: 35px;
    }
}

/* ----------NOSOTROS----------- */

.nosotros {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #464544;
    text-align: left;
    color: whitesmoke;
    justify-content: center;
    padding: 15vh 10vw 10vh 10vw;
}
.nosotros h1 {
    align-self: center;
    font-size: 60px;
}
.nosotros hr {
    margin: 5vh 5vw 5vh 5vw;
}
.nosotros p {
    font-size: 25px;
}
@media screen and (max-width: 1365px) {
    .nosotros h1{
        font-size: 35px;
    }
    .nosotros p {
        font-size: 20px;
    }
}

form div{
    padding: 0 0 0 0;
}