footer{
    div {
        background-color: #a2a1a0;
        height: 10vh;
        width: 100%;
        padding: 0 0 0 0;
        position: absolute;
        ul {
            display: flex;
            padding: 25px 0 0 0;
            justify-content: center;
            li {
                display: inline;
                img {
                    height: 50px;
                    width: 50px;
                    margin: 0 10px 0 10px;
                }
            }
        }
    }
};